* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  padding: 20q;
  border: 1q solid black;
  margin-bottom: 12px;

  display: flex;
  gap: 10px;
  align-items: center;
}

.row input {
  width: 80vw;
  max-width: 700px;
  padding: 12px;
  font-size: 16px;
}

.language-select {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

.but button {
  width: 30vw;
  max-width: 250px;
  padding: 8px;
  font-size: 12px;
}